#blue {
  background: blue;
  opacity: 100%;
  /* background-image: url("../../assets/template.png"); */
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 30%; */
  /* flex-basis: 100%; */
  background-size: contain;
  /* z-index: 0; */
}

.h1 {
  color: white;
  background-color: white;
}

