.margin {
  left: 0%;
  top: 0;
  /* background: #939597; */
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  /* bottom: 0%; */
}
#subscribe {
  margin-left: 4%;
  color: black;
  margin-top: 300px;
}
#label {
  color: antiquewhite;
}
#mailchimp {
  display: inline;
}
#mailchimp button {
  display: block;
}

#info-box {
  position: fixed;
  /* right: 0vh; */
  float: right;
  left: 5%;
  background: black;
  top: 3.6%;
  width: 14%;
  /* height: 14vh; */
  border-style: solid;
  border-color: antiquewhite;
  border-radius: 1vh;
  color: antiquewhite;
}
#wrapper {
  display: flex;
  padding: 5px;
  flex-direction: column;
  /* padding-top: 0.5vh; */
  width: 100%;
}
