#btn-left-off {
  /* position: absolute; */
  float: left;
  height: 100vh;
  width: 3%;
  background: black;
  transition: all 1200ms;
  opacity: 0%;
}
#btn-right-off {
  /* position: absolute; */
  float: right;
  height: 100vh;
  width: 3%;
  background: black;
  transition: all 1200ms;
  opacity: 0%;
}
#btn-up-off {
  top: 0%;
  position: absolute;
  width: 100%;
  height: 3%;
  background: black;
  transition: all 1200ms;
  opacity: 0%;
}
#btn-down-off {
  bottom: 0%;
  position: absolute;
  width: 100%;
  height: 3%;
  background: black;
  transition: all 1200ms;
  opacity: 0%;
}

#btn-left-on {
  /* position: absolute; */
  float: left;
  height: 100vh;
  width: 3%;
  background: yellow;
  transition: all 1s;
  opacity: 100%;
}

#btn-right-on {
  /* position: absolute; */
  float: right;
  height: 100vh;
  width: 3%;
  background: yellow;
  transition: all 1s;
  opacity: 100%;
}

#btn-down-on {
  bottom: 0%;
  position: absolute;
  width: 100%;
  height: 3%;
  background: yellow;
  transition: all 1ms;
  opacity: 100%;
}

#btn-up-on {
  top: 0%;
  position: absolute;
  width: 100%;
  height: 3%;
  background: yellow;
  transition: all 1ms;
  opacity: 100%;
}
