.logotype {
  /* height: 37.8%; */
  width: 25%;
  margin-left: 0.25%;
  margin-top: 0.75%;
  transition: all 1000ms;
}
@keyframes fade {
  0% {filter: invert(0);}
  25% {filter: invert(1)}
  50% {filter: invert(0)}
  75% {filter: invert(1)}
}
@keyframes fade2 {
  0% {filter: invert(0);}
  25% {filter: invert(1)}
  50% {filter: invert(0)}
  75% {filter: invert(1)}
}
.logotype:hover {
  filter: invert(1);
  background: red;
  /* cursor: url('../../assets/sigil-loq.svg'), auto; */
  cursor: pointer;
  overflow: clip;
  animation-name: fade2;
  animation-duration: 247ms;
}
.header {
  width: 700px;
  margin: 0 auto;
  height: 10%;
  z-index: 1;
  background-image: url('../../assets/png/grid-png.png');
  background-repeat: no-repeat;
  top: 3%;
  background-size: contain;
  position: relative;
  z-index: 100;
  padding: 10px;
}

.header-content {
  padding: 10px;
}
.header-tags {
  color: antiquewhite ;
}
#background {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 45%;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.sigil {
  position: absolute;
  right: 0;
  padding-right: 0.25%;
  padding-top: 0.5%;
  height: 34%;
}
.sigil:hover {
  animation-name: fade;
  animation-duration: 500ms;
  filter: invert(1);
}
.line {
  margin-top: 0vh;
  /* position: absolute; */
  /* left: 0; */
}

.disc {
  pointer-events: none;
  width: 10%;
  opacity: 33%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translateX(-50%);
  transform: translate(-50%, -50%);
}

.header-tags {
  display: flex;
  justify-content: space-between;
}

main div {
  /* margin-right: 18vh; */
  margin-top: 2%;
  font-size: 1.5vh;
  width: 25%;
  /* white-space: nowrap; */
}
.tag {
  height: 7%;
  position: absolute;
  top: 95%;
  fill: red;
}