
.screen {
  position: fixed;
  width: 100vh;
  height: 100vh;
  bottom: 0%;
  transition: all 500ms;
}

#p01 {
  opacity: 90%;
}

.bandcamp-player {
  position: absolute;
  right: 50%;
  top: 40%;
}

.bandcamp-player iframe {
  margin: 10px;
}

.anim {
  pointer-events: none;
  width: 100%;
}
#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
#center {
  order: 3;
  flex-basis: 100vh;
}
#left {
  order: 1;
  height: 100%;
  width: 100%;
  background: black;
}
#right {
  order: 5;
  height: 100%;
  width: 100%;
  background: black;
}


#textblock {
  pointer-events: none;
  color: rebeccapurple;
  font-size: 3vh;
  padding-top: 14vh;
  text-align: center;
}
.slide-01 {
  height: 100vh;
  opacity: 80%; 
  pointer-events: none; 
}
.slide-02 {
  height: 100vh;
  opacity: 90%;  
  pointer-events: none;
}
#btn-up {
  width: 100%;
  position: relative;
  top: 0%;
  height: 2%;
  z-index: 1;
}
#btn-down {
  width: 100%;
  position: relative;
  top: 96%;
  height: 2%;
  z-index: 1;
}

#btn-up img, #btn-down img {
  height: 1vh;
}
#btn-up img {
  left: 50%;

  transform-origin: 50% 50%;
}
#btn-down img, #btn-up img {
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform-origin: 50% 50%;
}

#btn-up img {
  transform: rotate(180deg);
}


@keyframes blink {
  0% {background:white;}
  17% {background:red;}
  33% {background:white;}
  49% {background:red;}
  66% {background:white;}
  83% {background:red;}
  100% {background:white;}
}
.btn-on {
  background: red;
  transition: all 5ms;
  opacity: 100%;
  animation-name: blink;
  animation-duration: 600ms;
}
.btn-off {
  transition: all 600ms;
}

#border-right-enclosure {
  order: 4;
  padding-left: 1vh;
  background: black;
}
#border-left-enclosure {
  order: 2;
  padding-right: 1vh;
  background: black;
}

#border-left, #border-right {
  background: antiquewhite;
  position: relative;
  width: 0.2vw;
  height: 100%;
}
#border-left .dot-up, #border-left .dot-down {
  left: -1.5vh;
}
#border-right .dot-up, #border-right .dot-down {
  right: -1.5vh;
}
.dot-up, .dot-down {
  color: antiquewhite;
  font-size: 0.66rem;
}
.dot-up {
  position: absolute;
  top: 1vh;
}
.dot-down {
  position: absolute;
  top: 98vh;
}
