.screen {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0%;
  transition: all 500ms;
  /* z-index: -1; */
}

* {
  font-family: 'Metastandard', serif;
  color:antiquewhite;
}

#container {
  display: flex;
  flex-direction: row;
}

#container-center {
  display: flex;
  flex-direction: row;
}

.margin-left {
  background: black;
  position: fixed;
  width: 15%;
  height: 100%;
  bottom: 0%;
  transition: all 500ms;
  /* z-index: -1; */
}

.margin-right {
  background: black;
  position: fixed;
  width: 15%;
  height: 100%;
  bottom: 0%;
  transition: all 500ms;
  /* z-index: -1; */
}
