* {
  font-family: 'Metastandard', serif;
  /* color:purple; */
}
.screen {
  position: absolute;
  width: 100vh;
  height: 100vh;
  bottom: 0%;
  transition: all 500ms;
  /* overflow: hidden; */
}
#scanner {
  color: antiquewhite;
}
/* 
#p01 {
  background: green;
  opacity: 50%;
  left: -100%;
} */

#green-machine {
  opacity: 50%;
}
#list {
  text-align: center;
  list-style: none;
  position: absolute;
  right: 16vh;
  top: 30vh;
}


/* center elems */
.anim {
  pointer-events: none;
  width: 100%;
}
#container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

#textblock {
  pointer-events: none;
  color: rebeccapurple;
  font-size: 3vh;
  padding-top: 14vh;
  text-align: center;
}
.slide-01 {
  height: 100vh;
  opacity: 50%; 
  pointer-events: none; 
}
.slide-02 {
  height: 100vh;
  opacity: 90%;  
  pointer-events: none;
}
/* .margin {
  left: 0%;
  background: #939597;
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0%;
} */

/* buttons */
#btn-up {
  width: 100%;
  position: absolute;
  top: 0%;
  height: 2%;
}
#btn-down {
  width: 100%;
  position: absolute;
  bottom: 0%;
  height: 2%;
}
#btn-left {
  height: 100%;
  position: absolute;
  left: 0%;
  width: 2%;
}
#btn-right {
  height: 100%;
  position: absolute;
  right: 0%;
  width: 2%;
}
#btn-up img, #btn-down img, #btn-left img, #btn-right img {
  height: 1vh;
  position: absolute;
}
#btn-up img, #btn-down img {
  top: 25%;
  right: 49vh;
}
#btn-left img, #btn-right img {
  top: 49vh;
}
#btn-up img {
  transform: rotate(180deg);
}
#btn-left img {
  transform: rotate(90deg);
}
#btn-right img {
  transform: rotate(270deg);
}

@keyframes blink {
  0% {background:white;}
  17% {background:red;}
  33% {background:white;}
  49% {background:red;}
  66% {background:white;}
  83% {background:red;}
  100% {background:white;}
}
.btn-on {
  background: red;
  transition: all 5ms;
  opacity: 100%;
  animation-name: blink;
  animation-duration: 600ms;
}
.btn-off {
  /* background: red; */
  transition: all 600ms;
  /* opacity: 0%; */
}

#border-left, #border-right {
  background: antiquewhite;
  position: absolute;
  width: 0.2vw;
  height: 100%;
}
#border-left {
  left: -1.7vh;
}
#border-right {
  right: -1.7vh;
}
#border-left .dot-up, #border-left .dot-down {
  left: -1.5vh;
}
#border-right .dot-up, #border-right .dot-down {
  right: -1.5vh;
}
.dot-up, .dot-down {
  color: antiquewhite;
}
.dot-up {
  position: absolute;
  top: 1vh;
}
.dot-down {
  position: absolute;
  top: 98vh;
}
