.logotype {
  height: 37.8%;
  margin-left: 0.25%;
  margin-top: 0.75%;
  transition: all 1000ms;
}
@keyframes fade {
  0% {filter: invert(0);}
  25% {filter: invert(1)}
  50% {filter: invert(0)}
  75% {filter: invert(1)}
}
.logotype:hover {
  filter: invert(1);
  background: red;
  /* cursor: url('../../assets/sigil-loq.svg'), auto; */
  cursor: pointer;
  overflow: clip;
  animation-name: fade;
  animation-duration: 247ms;
}
.header {
  width: 95vh;
  height: 10%;
  z-index: 1;
  background-image: url('assets/grid-png.png');
  background-repeat: no-repeat;
  position: fixed;
  top: 2.25%;
  background-size: contain;
}
.sigil {
  position: absolute;
  right: 0;
  padding-right: 0.25%;
  padding-top: 0.5%;
  height: 34%;
}
.sigil:hover {
  animation-name: fade;
  animation-duration: 500ms;
  filter: invert(1);
}
.line {
  position: absolute;
  left: 0;
}
.disc {
  position: absolute;
  right: 45%;
  width: 10%;
  top: 425.5%;
  opacity: 33%;
}
.disc svg {
  fill: red;
}

.header-tags {
  display: flex;
  justify-content: space-between;
}

main div {
  /* margin-right: 18vh; */
  margin-top: 2%;
  font-size: 2vh;
  /* white-space: nowrap; */
}
.tag {
  height: 7%;
  position: absolute;
  top: 95%;
}