html {
  overflow: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  /* height: 100%; */
}
body {
  margin: 0;
  overflow: auto;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Metastandard';
  font-style: normal;
  font-weight: 900;
  src: local('Metastandard'), url(./fonts/Metastandard-Mono.otf) format('opentype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
